<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>623245883354-nr68sq0grr5gqf51o68i4k0bp1gp9lg5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.623245883354-nr68sq0grr5gqf51o68i4k0bp1gp9lg5</string>
	<key>API_KEY</key>
	<string>AIzaSyCo449XzVzXRynzmI42x8h3x4ZK9JducLQ</string>
	<key>GCM_SENDER_ID</key>
	<string>623245883354</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>locative</string>
	<key>PROJECT_ID</key>
	<string>locative-90b27</string>
	<key>STORAGE_BUCKET</key>
	<string>locative-90b27.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:623245883354:ios:21b4d6bb4f20a918</string>
	<key>DATABASE_URL</key>
	<string>https://locative-90b27.firebaseio.com</string>
</dict>
</plist>